venv/
.idea/
*/__pycache__/*
listenbrainz_file_parser.egg-info/top_level.txt
listenbrainz_file_parser.egg-info/SOURCES.txt
listenbrainz_file_parser.egg-info/PKG-INFO
listenbrainz_file_parser.egg-info/entry_points.txt
listenbrainz_file_parser.egg-info/dependency_links.txt
listenbrainz_file_parser.egg-info/requires.txt
/.test/
listenbrainz_file_parser/__pycache__/__init__.cpython-311.pyc
*.pyc
